
#top,
#bottom {
		/* position: fixed; */
		left: 0;
		right: 0;
		height: 50%;
	}

#top {
		top: 0;
		background-color: #ffffff;
	}

#bottom {
		bottom: 0;
		background-color: #ffffff;
	}
.centered{
    float: none;
    margin: 0 auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
}

.column {
  /* align-self: center; */
  width: 25%;
  padding: 10px 10px;
}
.row {
  margin: 0 -5px;
  /* align-items: center; */
  align-self: center;
}
img{
    width:100%;
		height: 260px;
    max-width:600px;
}
hr{
  color: red;
  height: 10px;
  border-width: 3px;
  border-color: darkred;
}

/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1); /* this adds the "card" effect */
  /* border-color: rgba(0, 0, 0, 1); */
  /* padding: 16px; */
  text-align: center;
  /* background-color: #ffffff; */
}
hr{
  height: 10px;
  border-width: 3px;
  border-color: darkred;
}
.btn{
  /* border-color: rgb(227, 0, 0); */
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column, .row {
    width: 100%;
		height: 100%;
    display: block;
    margin-bottom: 20px;
		padding: 10px 10px;
  }
  .card{
    height: 100%;
    width: 100%;
  }
	img{
	    width:100%;
			height: 160px;
	    max-width:600px;
	}
}
.card:hover{
  background-color: #ffffff;
}
