.carousel{
  width:100%;

}
.centered{
    float: none;
    margin: 0 auto;
}
.gal{
  height:500px;
  width:100%;
}
#top,
#bottom {
		/* position: fixed; */
		left: 0;
		right: 0;
		height: 50%;
	}

#top {
		top: 0;
		background-color: #830000;
	}

#bottom {
		bottom: 0;
		background-color: black;
	}

body {
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;
}

.column {
  /* align-self: center; */
  width: 25%;
  padding: 0 10px;
}
.row {
  margin: 0 -5px;
  /* align-items: center; */
  align-self: center;
}



/* Style the counter cards */
.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1); /* this adds the "card" effect */
  /* border-color: rgba(0, 0, 0, 1); */
  /* padding: 16px; */
  text-align: center;
  /* background-color: #ffffff; */
}
hr{
  color: red;
  height: 10px;
  border-width: 3px;
  border-color: darkred;
}
.btn{
  /* border-color: rgb(227, 0, 0); */
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .col {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    align-self: center;
  }
  .card{
    /* height: 100%; */
    width: 100%;
    border-bottom: 10px;
    width: 100%;
  }
}
.card:hover{
  background-color: #ffffff;
}




body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
