<!-- <div class="card text-white bg-dark mb-2">
  <img class="card-img-top" src="{{team.images[0]}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{team.name}}</h5>
    <p class="card-text">{{team.description}}</p>
  </div>
</div> -->



<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
  <div class="row ">
    <div class="col-lg-12">
      <div>


        <div class="col-md-4">
          <div class="profile-card text-center">

            <img class="img-responsive" src="{{team.images[0]}}">
            <div class="profile-info">
              <h2 class="hvr-underline-from-center">{{team.name}}</h2>
              <div>{{team.description}}</div>
              <a href="https://www.twitter.com/mike_youngg"><i class="fa fa-twitter fa-2x"></i></a>
              <a href="mailto:michael_y@live.co.uk"><i class="fa fa-envelope-o fa-2x"></i></a>
              <a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-2x"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<html>
  <head>
    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Wide card with share menu button -->
    <div class="mdl-card mdl-shadow--2dp demo-card-wide">
      <img class="big-image" src = "{{team.image[0][image]}}">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{team.name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <h2 class="mdl-card__supporting-text">{{team.description}}</h2>
      </div>
      <div class="mdl-card__actions mdl-card--border">
      </div>
      <div class="mdl-card__menu">
        <!-- <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">share</i>
        </button> -->
      </div>
    </div>
    <h1 style="text-align:center">Achivements</h1>
    <div class="main">
      <ul class="cards">
        <li class="cards_item" *ngFor="let an_achivement of achivements">
          <div class="card">
            <div class="card_image"><img src="{{an_achivement.image}}"></div>
            <div class="card_content">
              <h2 class="card_title">{{an_achivement.title}}</h2>
              <p class="card_text">{{an_achivement.description}}</p>
              <h2>{{an_achivement.position}}</h2>
              <h2>{{an_achivement.year}}</h2>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
