<div class="card card-chart">
  <div class="card-header card-header-light p-0">
    <div class="ct-chart position-relative" id="dailySalesChart">
      <img src="{{ card !=null ? card.image : 'https://dummyimage.com/600x300/#eee/fff' }}" class="rounded" alt="" style="width:100%">
      <button type="file" class="btn btn-sm btn-success btn-fab btn-fab-mini btn-round position-absolute add-image-btn"><i class="material-icons">add_photo_alternate</i></button>
    </div>
  </div>
  <div class="card-body position-relative">
    <div class="card-title">
      <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" value="{{ card !=null ? card.title : ''}}" placeholder="Highlight Title">
        </div>
      </div>
      <div class="card-category">
        <div class="form-group">
          <label>Description</label>
          <textarea type="text" class="form-control" value="{{ card !=null ? card.description : '' }}" placeholder="Highlight Description"></textarea>
        </div>
        <div class="form-group">
          <label>Url</label>
          <input type="text" class="form-control" value="{{ card !=null ? card.url : '' }}" placeholder="Highlight Redirect URL">
        </div>
    </div>
  </div>
</div>