<section class="sponsors-section">
  <div class="container">
    <div class="title-section">
      <h1>Meet our sponsors</h1>
      <hr>
      <p>Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis,
        mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et,
        dapibus sed, urna.</p>
    </div>
    <div class="client-box">
      <ul class="sponsor-list">
        <li *ngFor="let sponsor of sponsors"><a href="{{sponsor.url}}"><img src="{{sponsor.image}}" alt=""></a></li>
      </ul>
    </div>
  </div>
</section>
