<div class=" blog-card" *ngFor="let event of events; let i = index" [ngClass]="{'alt': i%2!=0}">
  <div class="meta">
    <div class="photo"></div>
    <img src="{{event.image}}" alt="">
  </div>
  <div class="description">
    <div class="inner-description">
      <h1>{{event.name | uppercase}}</h1>
      <p> {{event.description}}</p>
      <p class="read-more">
        <a href="#" routerLinkActive="active">Read More</a>
      </p>
    </div>
    <div class="counter">
      <circle-progress [endDate]="endDate" [initDate]="initDate" [radius]="100" [outerStrokeWidth]="16"
        [innerStrokeWidth]="8" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true"
        [animationDuration]="300">
      </circle-progress>
    </div>
  </div>
</div>
