.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.d-block {
  /* padding-right: 0px;
    padding-left: 0px; */
  height: 117px;
  padding: 0px;
}

.background {
  border: #a7a2a2 solid 3px;
  margin: 15px;
  border-radius: 15px;
}

.right {
  background-color: #a7a2a2 !important;
  border-radius: 0px 12px 12px 0px !important;
  width: 2% !important;
}

.left {
  background-color: #a7a2a2 !important;
  border-radius: 12px 0px 0px 12px !important;
  width: 2% !important;
}

@media (max-width: 590.98px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }

  .d-block {
    padding-right: 50px;
    padding-left: 50px;
    height: 120px;
  }
}

@media (min-width: 591px) and (max-width: 767.98px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.3333333333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.3333333333%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.6666666667%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.6666666667%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(16.6666666667%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-16.6666666667%);
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}
