<div class="sidebar" data-color="purple" data-background-color="white">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <h2 class="simple-text logo-mini">ASURT</h2>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">

      <li class="nav-item" [routerLink]="['./']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link cursor-ptr">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>

      <li class="nav-item" [routerLink]="['users']" routerLinkActive="active">
        <a class="nav-link cursor-ptr">
          <i class="material-icons">person</i>
          <p>Users</p>
        </a>
      </li>

      <li class="nav-item"  [routerLink]="['highlights']"
                            routerLinkActive="active">
        <a class="nav-link cursor-ptr">
          <i class="material-icons">slideshow</i>
          <p>Highlights</p>
        </a>
      </li>
      <li class="nav-item"  [routerLink]="['events']"
                            routerLinkActive="active">
        <a class="nav-link cursor-ptr">
          <i class="material-icons">slideshow</i>
          <p>Events</p>
        </a>
      </li>

    </ul>
  </div>
</div>

<div class="close-layer" [ngClass]="{'visible': sidebar_status}" (click)="admin_sidebar_toggle()"></div>
