.highlight-wrapper {
  width: 100vw;
  height: 70vh;
  margin-bottom: 3rem;
  text-align: center;
}

.highlight-wrapper .carousel-caption h3,
.highlight-wrapper .carousel-caption p {
  text-align: left;
  color: black;
  opacity: 0.6;
}

.highlight-wrapper .carousel-image img {
  max-width: 100%;
  height: auto;
}
