/* .body{
    /* background-color: rgba(127, 133, 136, 0.685); 
    font-family: "Lato","Arial",sans-serif;
    font-size: 20px;
    font-weight: 150;
    text-rendering: optimizeLegibility; 
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    overflow-y: scroll;
    /*overflow-x: hidden;
} */

.cont{
    height: 100%;
    
} 
.w{
    width:300px;
    height:200px;
}