<div class=" body " *ngIf="loaded">
  <app-sidenav></app-sidenav>
  <nav class="navbar  bg-dark">
    <button class="btn btn-outline-primary" appSidenavToggler> <i class="fas fa-bars"></i> </button>
  </nav>
  <div class="container  cont pt-5 mt-3">
    <div class="row  justify-content-center">
      <div class="col-sm-12 col-lg-6 ">
        <div class="row  ">
            <div class="col-lg-6 col-md-12 ">
          <div class="card text-center">
            <div class="col text-center">
              <img *ngIf="NullImage" alt=""
                src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                class="img-responsive  img-responsive img-rounded ">
              <img *ngIf="!NullImage" alt="" [src]="pro.profilepic" class="img-responsive  rounded-circle ">
            </div>
            <div class="card-body">
              <div class="col text-center">
                <button class="btn btn-danger  py-3 px-4 my-4" type="button" (click)="onEdit()">Edit Profile</button>
              </div>
            </div>
          </div>
        </div>
</div>
      </div>
      <div class="col-lg-6 col-sm-12  ">
        <div class="row">
          <div class="col-lg-6 col-md-12 ">
            <div class="row mb-4">
              <strong>Fullname: </strong> 
              {{pro.name}}
            </div>
            <div class="row mb-4">
              <strong>Mobile: </strong> 
              {{pro.mobile}}
            </div>
            <div class="row mb-4">
              <strong>Date Of Birth: </strong> 
              {{pro.birth_date}}
            </div>
            <div class="row mb-4">
            <strong>University: </strong>
            {{pro.university}}
            </div>
            <div class="row mb-4">
                <strong>Faculty: </strong>
            {{pro.faculty}}
            </div>
            <div class="row mb-4">
            <strong>College ID:  </strong> 
            {{pro.college_id}}
            </div>
            <div class="row mb-4">
            <strong>Department: </strong>  
            {{pro.college_department}}
            </div>
            <div class="row mb-4">
            <strong>Year Of Graduation: </strong> 
            {{pro.graduation_year}}
            </div>
            <div class="row mb-4">
            <strong >National ID: </strong> 
            {{pro.national_id}}
            </div>
            <div class="row mb-4">
            <strong>Passport ID: </strong> 
            {{pro.passport_id}}
            </div>
            <div class="row mb-4">
            <strong>Contact Name: </strong> 
            {{pro.emergency_name}}
            </div>
            <div class="row mb-4">
            <strong>Contact Mobile: </strong> 
            {{pro.emergency_mobile}}
            </div>
            <div class="row mb-4">
            <strong>Contact Relation: </strong> 
            {{pro.emergency_relation}}
            </div>


            <div class="row">  
              <div class="col">
                <button class="btn btn-danger  py-2  btn-block" type="button" (click)="previewNational_ID_Front()"
                  *ngIf="pro.national_front" >National
                  ID Front Cover</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <button class="btn btn-danger  py-2  mt-2 btn-block" type="button" (click)="previewNational_ID_Back()"
                  *ngIf="pro.national_back" >National ID Back Cover</button> 
                  </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                <button *ngIf="pro.passport_img" class="btn btn-danger  py-2  mt-2 btn-block" type="button"
                  (click)="previewPassport_ID()" >Passport
                  ID Cover Image</button>
                  </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>