<div class="con container">X
<div class="container">
    <div class="row">
        <div class="col">
            <h1 id="h">Events</h1>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row ">
        <div class="col-12 ">
            <ul class="events clearfix mx-auto" >
                <li >
                    <a style="cursor:pointer;">
                        <figure class="pic">
                            <h4 class="p-2" style="color:#b21908; background-color: white; text-align: center;">name
                            </h4>
                            <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                class="img-responsive">
                        </figure>
                    </a>
                </li>
                <li >
                    <figure class="pic">
                        <h4 class="py-2" style="color:#b21908; background-color: white; text-align: center;">name</h4>
                        <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            class="img-responsive">
                    </figure>
                </li>
                <li >
                        <figure class="pic">
                            <h4 class="py-2" style="color:#b21908; background-color: white; text-align: center;">name</h4>
                            <img src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                                class="img-responsive">
                        </figure>
                    </li>

            </ul>

        </div>

    </div>
</div> -->
<!--Carousel Wrapper-->
<div class="container">
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
          class="fas fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->
  
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
  
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
  
      <!--First slide-->
      <div class="carousel-item active" >
        <div class="row">
        <div class="col-4" *ngFor = "let event of events;let i=index">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{event.name}}</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
                <button class="btn btn-danger my-4" type="button" (click)="onview(i)">View Event</button>
            </div>
          </div>
        </div>
    </div>
      </div>
      
      <!--/.First slide-->
  
      <!--Second slide-->
      <!-- <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
      </div> -->
      <!--/.Second slide-->
  
      <!--Third slide-->
      <!-- <div class="carousel-item">
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="card mb-2">
            <img class="card-img-top"
              src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a class="btn btn-primary">Button</a>
            </div>
          </div>
        </div>
  
      </div> -->
      <!--/.Third slide-->
  
    </div>
    <!--/.Slides-->
  
  </div>
</div>
  <!--/.Carousel Wrapper-->
  <section  class=" py-5" *ngIf ="view">
    <div class="con2 container py-5">
        <div class="row ">
            <div class="col-6 text-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sq_5GP3Z87V5ASohIe3-smbC0tcpmqnKZVOACidmNFuPkM_i" class=" img-fluid mb-3 rounded-circle">
                <p class="text-center">{{event.date}}</p>
            </div>
            <div class="col-6 py-2 ">
                <h3>{{event.name}}</h3>
                <hr>
                <p>{{event.event_type}}</p>
                <p>{{event.description}}</p>
                <button class="btn btn-danger my-4" type="button" (click)="back()">Back</button>
            </div>
        </div>
    </div>
  </section>
</div>