<div class=" body  ">
  <div class="container con">
    <div class="container bar ">
      <div class=" row">
        <div class="col-md-10 offset-md-1 mt-5">
          <h2 id="h" *ngIf="!editMode">Create Your Profile</h2>
          <h2 id="h" *ngIf="editMode">Edit Your Profile</h2>
        </div>
      </div>
    </div>
    <div class="container wh">

      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="container ">
          <div class="row">
            <div class="  col-md-10 offset-md-1">
              <div class="form-group ">
                <label for="image" class="mr-4">Profile Pic</label>
                <div class="row">
                  <img-cropper  [image]="data" [settings]="cropperSettings"  accept=".png, .jpg, .jpeg, .pdf" ></img-cropper>
                  <img *ngIf="savepic" [src]="data.image" [width]="cropperSettings.croppedWidth"
                    [height]="cropperSettings.croppedHeight" class="ml-3" />
                    </div>
                    <div class="row">
                    <button type="button" class="btn btn-danger " [disabled]="savepic" (click)="onSave()">Save</button>
                    <button type="button" class="btn btn-danger ml-3"  (click)="onCancelpic()">Cancel</button>
                </div>
                
              </div>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="name">Full Name</label>
              <input type="text" id="name" name="name" placeholder="name"
                pattern="^([a-zA-Z]{2,20})(\s)([a-zA-Z]{2,20})(\s)([a-zA-Z]{2,20})" class="form-control" ngModel
                required #name="ngModel">
              <span class="help-block text-danger" *ngIf="!name.valid && name.touched && name.dirty">please enter your
                name as follows "first middle last"</span>
              <span class="help-block text-danger" *ngIf="!name.valid && name.touched && !name.dirty">this field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="mobile">Mobile</label>
              <input type="text" id="mobile" pattern="^(0)(\d{10})" name="mobile" class="form-control" ngModel
                placeholder="01xxxxxxxxx" #mobile="ngModel">
              <span class="help-block text-danger" *ngIf="!mobile.valid && mobile.touched && mobile.dirty">this mobile
                number is not valid</span>
              <span class="help-block text-danger" *ngIf="!mobile.valid && mobile.touched && !mobile.dirty">this field
                is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="uni">University</label>
              <input type="text" id="uni" name="uni" class="form-control" placeholder="university" ngModel required
                #uni="ngModel">
              <span class="help-block text-danger" *ngIf="!uni.valid && uni.touched">this is a required field</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="faculty">Faculty</label>
              <input type="text" id="faculty" name="faculty" placeholder="faculty" class="form-control" ngModel required
                #faculty="ngModel">
              <span class="help-block text-danger" *ngIf="!faculty.valid && faculty.touched">this is a required
                field</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="coll_id">College ID</label>
              <input type="text" id="coll_id" name="coll_id" class="form-control" placeholder="College ID" ngModel
                required #coll_id="ngModel">
              <span class="help-block text-danger" *ngIf="!coll_id.valid && coll_id.touched">this is a required
                field</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="coll_dep">College Department</label>
              <input type="text" id="coll_dep" name="coll_dep" placeholder="department" class="form-control" ngModel
                required #coll_dep="ngModel">
              <span class="help-block text-danger" *ngIf="!coll_dep.valid && coll_dep.touched">this is a required
                field</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="grad_year">Expected Year Of Graduation</label>
              <select id="grad_year" name="grad_year" placeholder="ex: 2020" class="form-control" ngModel required
                #grad_year="ngModel">
                <option value='2020'>2020</option>
                <option value='2021'>2021</option>
                <option value='2021'>2022</option>
                <option value='2021'>2023</option>
              </select>
              <span class="help-block text-danger"
                *ngIf="!grad_year.valid && grad_year.touched && !grad_year.dirty">this field is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" id="address" name="address" class="form-control" ngModel required placeholder="address"
                #address="ngModel">
              <span class="help-block text-danger" *ngIf="!address.valid && address.touched">this is a required
                field</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="dob">Date Of Birth</label>
              <input type="date" id="dob" name="dob" class="form-control" ngModel required #dob="ngModel">
              <span class="help-block text-danger" *ngIf="!dob.valid && dob.touched">this is a required field</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="n_id">National ID</label>
              <input type="text" name="n_id" id="n_id" placeholder="national id" pattern="^(\d{14})"
                class="form-control" ngModel required #n_id="ngModel">
              <span class="help-block text-danger" *ngIf="!n_id.valid && n_id.touched && n_id.dirty">this id is not
                correct</span>
              <span class="help-block text-danger" *ngIf="!n_id.valid && n_id.touched && !n_id.dirty">this field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="n_id_f_c">National ID Front Cover</label>
              <input (change)="onUploadChange($event,1)" name="n_id_f_c" accept=".png, .jpg, .jpeg, .pdf" type="file"
                id="n_id_f_c" class="form-control" ngModel required #n_id_f_c="ngModel" ngf-max-size="500KB">
              <span class="help-block text-danger" *ngIf="!n_id_f_c.valid && n_id_f_c.touched && !n_id_f_c.dirty">this
                field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="n_id_b_c">National ID Back Cover</label>
              <input (change)="onUploadChange($event,2)" name="n_id_b_c" accept=".png, .jpg, .jpeg, .pdf" type="file"
                id="n_id_b_c" class="form-control" ngModel required #n_id_b_c="ngModel" ngf-max-size="500KB">
              <span class="help-block text-danger" *ngIf="!n_id_b_c.valid && n_id_b_c.touched && !n_id_b_c.dirty">this
                field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="pass_id">Passport ID</label>
              <input type="text" id="pass_id" name="pass_id" class="form-control" placeholder="passport id" ngModel
                required #pass_id="ngModel">
              <span class="help-block text-danger" *ngIf="!pass_id.valid && pass_id.touched && !pass_id.dirty">this
                field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="pass_id_img">Passport ID First Page Image</label>
              <input (change)="onUploadChange($event,3)" name="pass_id_img" accept=".png, .jpg, .jpeg, .pdf" type="file"
                id="pass_id_img" class="form-control" ngModel required #pass_id_img="ngModel" ngf-max-size="500KB">
              <span class="help-block text-danger"
                *ngIf="!pass_id_img.valid && pass_id_img.touched && !pass_id_img.dirty">this field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="em_name">Emergecy Contact Name</label>
              <input type="text" id="em_name" name="em_name" class="form-control" placeholder="emergency contact name"
                ngModel required #em_name="ngModel" pattern="([a-zA-Z]{2,20})(\s)([a-zA-Z]{2,20})(\s)([a-zA-Z]{2,20})">
              <span class="help-block text-danger" *ngIf="!em_name.valid && em_name.touched && em_name.dirty">please
                enter the name as follows "first middle last"</span>
              <span class="help-block text-danger" *ngIf="!em_name.valid && em_name.touched && !em_name.dirty">this
                field is required</span>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="em_mobile">Emergecy Contact Mobile</label>
              <input type="text" id="em_mobile" name="em_mobile" class="form-control" pattern="^(0)(\d{10})"
                placeholder="ex: 01xxxxxxxx" ngModel required #em_mobile="ngModel">
              <span class="help-block text-danger" *ngIf="!em_mobile.valid && em_mobile.touched && em_mobile.dirty">this
                number is not valid</span>
              <span class="help-block text-danger"
                *ngIf="!em_mobile.valid && em_mobile.touched && !em_mobile.dirty">this field is required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="form-group">
              <label for="em_relation">Emergecy Contact Relation</label>
              <input type="text" id="em_relation" name="em_relation" class="form-control" placeholder="ex: cousin"
                ngModel required #em_relation="ngModel">
              <span class="help-block text-danger"
                *ngIf="!em_relation.valid && em_relation.touched && !em_relation.dirty">this field is
                required</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-1">
              <!-- [disabled]="!f.valid || submitBtn" -->
            <button type="submit" class="btn btn-danger"
              style="margin-right:5px;">{{editMode ? 'Edit' : 'Create'}}</button>
            <img *ngIf="loading"
              src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
          </div>
        </div>


      </form>

    </div>
  </div>
</div>