<section  class=" py-5" >
    <div class="con2  container py-5">
        <div class="row ">
            <div class="col-6 text-center">
                <!-- <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" class=" img-fluid mb-3 "> -->
                <img src="http://127.0.0.1:8000{{event.image[event.image.length-1].image}}" class=" img-fluid mb-3 ">


                <p class="text-center">{{event.date}}</p>
            </div>
            <div class="col-6 py-2 ">
                <h3>{{event.name | uppercase}}</h3>
                <hr>
                <p>{{event.event_type}}</p>
                <p>{{event.description}}</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quibusdam, commodi voluptate odio omnis quis aut recusandae quos dicta autem officia! Veritatis voluptatum obcaecati, officiis, quo voluptate suscipit quidem doloribus excepturi, animi molestiae dolores aspernatur quia iste ut laborum blanditiis perspiciatis at vero. Ex aliquam harum expedita perspiciatis? Error explicabo a quaerat. Optio qui minima doloribus praesentium dolor veritatis nemo, dolore asperiores ducimus dignissimos consequatur soluta reprehenderit magni molestiae? Facere expedita vero iure tempora recusandae odit dolore quam, rem repellat eos nobis nihil. Quos officiis dolores, consectetur cumque eos nostrum qui sequi cum omnis distinctio accusamus laboriosam, suscipit, voluptatibus eius?</p>
            </div>
        </div>
    </div>
  </section>
