<section  class=" py-5">
  <div class="con container py-5">
      <div class="row ">
          <div class="col-6 text-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4sq_5GP3Z87V5ASohIe3-smbC0tcpmqnKZVOACidmNFuPkM_i" class=" img-fluid mb-3 rounded-circle">
              <p class="text-center">{{event.date}}</p>
          </div>
          <div class="col-6 py-2 ">
              <h3>{{event.name}}</h3>
              <p>{{event.event_type}}</p>
              <p>{{event.description}}</p>
             
          </div>
      </div>
  </div>
</section>
